.empty {
    background-color: #fff;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;

    .empty_text {
        color: #999;
        padding: 4px 0;
    }
}
