
.number_card {
    position: absolute;
    bottom: 10px;
    right: 16px;

    .number_card_title {
        color: rgba(0,0,0,0.25);
    }

    .number_card_content {
        color: #000;
    }

    .number_card_title, .number_card_content {
        font-size: 14px;
        text-align: center;
        line-height: 24px;
        font-weight: 500;
    }
}

.edge {
    background-color: #000;

    :global {
        ul.graphin-components-legend-content li.item > .dot {
            border-radius: 0%;
            width: 12px;
            height: 2px;
            vertical-align: middle;
        }
    }
}

:global {
    ul.graphin-components-legend-content {
        display: block;
        position: relative;
        margin: 0px;
        padding: 0px;
    }
    
    ul.graphin-components-legend-content li.item {
        display: inline-block;
        vertical-align: top;
        margin: 5px 10px;
        cursor: pointer;
    }
    
    ul.graphin-components-legend-content li.item > .dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        display: inline-block;
    }
    
    ul.graphin-components-legend-content li.item > .label {
        padding: 0px 5px;
        font-size: 12px;
        display: inline-block;
        vertical-align: baseline;
    }    
}

.empty_container {
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
}
