.topbar {
    min-height: 32px;
    background-color: #fff;
    border-bottom: 1px solid #E8E9EB;
    // color: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 11;

    .space {
        display: flex;
        gap: 12px;
    }

    span {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.65);
        span {
            margin-right: 4px;
        }
        &:hover {
            color: rgba(0, 0, 0, 1);
            cursor: pointer;
        }
        &.disable {
            color: rgba(0, 0, 0, 0.25);
            span {
                color: rgba(0, 0, 0, 0.25);
            }
        }
        &.disable:hover {
            cursor: not-allowed;
            span {
                cursor: not-allowed;
            }
        }
    }
}
